// @describe Color Scheme

// @it `cs`: Getting color and its alphas

body
    color cs('primary')
    color cs('primary', secondary)
    color cs('primary', disabled)
    color cs('primary', divider)
    color cs('primary', relief)

// @expects

body{
    color:#607d8b;
    color:rgba(96,125,139,.7);
    color:rgba(96,125,139,.3);
    color:rgba(96,125,139,.12);
    color:rgba(96,125,139,.05)}


// @it `cs`: Getting color darkening variations

body
    for d in (-2 -1 0 1 2 3)
        color cs('primary', d)

// @expects
body{color:#6d8b9a;
    color:#668493;
    color:#607d8b;
    color:#5b7784;
    color:#56707d;
    color:#526a76}


// @it `cs`: Ratio 2 usage

body
    color cs(cs('primary', 2), divider)
    color cs('primary', 2, divider)

// @expects
body{color:rgba(86,112,125,.12);
    color:rgba(86,112,125,.12)}


// @it `cs-fit`: More contrast font are applied

body
    color cs-fit('primary', bg:#000)

body
    color cs-fit('primary', #ff0, #000)

body
    background-color #444
    color cs-fit('primary', #ff0)

body
    background-color #fff
    color cs-fit('primary', 'yellow')

// @expects
body{color:#fff}
body{color:#ff0}
body{background-color:#444;color:#ff0}
body{background-color:#fff;color:#607d8b}
