@require 'palettes'

/**
 * Mixins
 * ======================================================================== */

cs(color, ratio=0, ratio2=0)
    if ratio2
        return cs(cs(color, ratio), ratio2)

    if is-list(color)
        ratio = color[1]
        color = color[0]

    if !is-color(color)
        color = CS.color[color]

    if is-unit(ratio) && !(ratio > 0 && ratio < 1)
        if ratio == 0
            return rgba(color, 1)
        else
            ratio = (ratio > 0 ? CS.factor.darker : CS.factor.lighten) *\
                to-raw-pct(ratio ? ratio : 0)

            return darken(color, ratio * 100%)
    else
        ratio = is-unit(ratio) ? ratio : CS.ratio[ratio]
        $alpha = to-raw-pct(alpha(color)) * ratio

        return rgba(color, $alpha)


/**
 * Depenfing on provided background-color makes text color dark or light.
 */
cs-fit(dark=CS.color.dtext, light=CS.color.ltext, bg=@background-color)
    dark  = cs(dark)
    light = cs(light)
    bg    = cs(bg)

    if contrast(bg, light).ratio > contrast(bg, dark).ratio
        return light
    else
        return dark



