@require 'palettes'

/*
 * Variables
 * ======================================================================== */

CS = {}

cs-config({
        color: {
            black:       ColorPalettes.clrs.black
            white:       ColorPalettes.clrs.white

            blue:        ColorPalettes.material.blue
            green:       ColorPalettes.material.green
            red:         ColorPalettes.material.red
            yellow:      ColorPalettes.material.yellow

            netural:     ColorPalettes.clrs.silver
            primary:     ColorPalettes.material.blue_grey
            accent:      ColorPalettes.material.light_blue
            // secondary:   ColorPalettes.
            // ternary:     ColorPalettes.
            // quarternary: ColorPalettes.

            dtext:       ColorPalettes.clrs.black
            ltext:       ColorPalettes.clrs.white
            highlight:   ColorPalettes.material.yellow
        }

        ratio: {
            secondary: .70
            disabled:  .30
            divider:   .12
            relief:    .05
        }

        factor: {
            darker:  .05
            lighten: .05
        }
    })