/**
 * Variables
 * ======================================================================== */

$color_palettes  = extend({}, $color_palettes)


/**
 * Palettes list
 * ======================================================================== */

@require 'clrs'
@require 'flat-ui'
@require 'material-design'