/**
 * Variables
 * ======================================================================== */

ColorPalettes  = extend({}, ColorPalettes)


/**
 * Palettes list
 * ======================================================================== */

@require 'clrs'
@require 'flat-ui'
@require 'material-design'